{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Apostas Mega Sena</title>
  </head>
<body>
    <div class="container">
        <h1>Lista de sorteios</h1>
        {% if sorteios %} 
        <table class="table table-bordered table-striped">
            <tr>
                <th>Numero sorteado</th>
                <th>Ganhador</th>
            </tr>
            {% for sorteio in sorteios %}
                {% if sorteio.ganhador == "--" %}
                    <tr>
                        <td>{{sorteio.numero_sorteado}}</td>
                        <td>Aguardando apuracao</td>
                    </tr>
                {% elif sorteio.ganhador == "[]" %}
                <tr>
                    <td>{{sorteio.numero_sorteado}}</td>
                    <td>Não houve ganhadores</td>
                {% endif %}
            {% endfor %}
        </table>
        <form action="{% url 'apuracao' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Realizar apuração</button>
        </form>
        {% else %}
        <p class="negativo">Não há sorteios cadastrados!</p>
        {% endif %}
    </div>
    

    {% comment %} <div class="container">
        <h1>Lista de apostas vencedoras</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Aposta</th>
                <th>Nome do apostador</th>
                <th>Cpf do apostador</th>
                <th>Aposta</th>
            </tr>
            {% for aposta in apostas %}
            <tr>
                <td>{{sorteio.id_sorteio}}</td>
                <td>{{sorteio.numero_sorteado}}</td>
                <td>{{sorteio.ganhador}}</td>
            </tr>
            {% endfor %}
        </table>
    </div> {% endcomment %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>